---
layout: default
title: The Knowledge Graph Registry
---

<!-- Rotating network visualization for the main page -->
<div class="row mb-2">
    <div class="col-auto">
        <div id="network-logo" style="width: 180px; height: 180px;"></div>
    </div>
</div>

<div class="row">
    <h1 class="display-6">
        KG-Registry
        <br/>
        <small class="text-muted">
            Aggregation of Knowledge Graphs and their parts.
        </small>
    </h1>
</div>

<div class="row">
    <a href="https://github.com/Knowledge-Graph-Hub/kg-registry/issues/new?template=new-resource.yml">Are we missing something? Suggest an addition!</a>
</div>

<div class="row mb-3">
    <div class="col-12">
        <div class="alert alert-info">
            Try our new <a href="/kg-registry/advanced-search.html" class="alert-link">Advanced Search</a> page to run custom SQL queries on the KG Registry database!
        </div>
    </div>
</div>

<div class="row">
    {% include table_widget.html %}
    <noscript> {% include resource_table.html %}</noscript>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
<script src="assets/js/sorttable.js"></script>
<script src="assets/js/custom.js"></script>
