---
layout: default
title: The Knowledge Graph Registry
---

<div class="row">
    <h1 class="display-6">
        KG-Registry
        <br/>
        <small class="text-muted">
            Aggregation of Knowledge Graphs and their parts.
        </small>
    </h1>
</div>

<div class="row">
    <a href="https://github.com/Knowledge-Graph-Hub/kg-registry/issues/new?template=new-resource.yml">Are we missing something? Suggest an addition!</a>
</div>

<div class="row">
    {% include table_widget.html %}
    <noscript> {% include ontology_table.html %}</noscript>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
<script src="assets/js/underscore.min.js"></script>
<script src="assets/js/sorttable.js"></script>
<script src="assets/js/custom.js"></script>
