---
layout: default
title: The OBO Foundry
---

<div class="row">
    <h1 class="display-6">
        NOT the OBO Foundry
        <br/>
        <small class="text-muted">
            Experimental aggregation of ontology-like resources.
        </small>
    </h1>


    <h4>NON OBO Resources</h4>
</div>

<div class="row">
    {% include table_widget.html %}
    <noscript> {% include ontology_table.html %}</noscript>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
<script src="assets/js/underscore.min.js"></script>
<script src="assets/js/sorttable.js"></script>
<script src="assets/js/custom.js"></script>
