---
layout: default
---

<div class="row">
  <h1>
    {% if page.depicted_by %}
    <img alt="logo" src="{{page.depicted_by}}" style="max-height: 1em" />
    {% endif %} {{ page.id }}
  </h1>
  {% if page.category %}
    {% if page.category == "Aggregator" %}
      <p>is an <strong><em>Aggregator.</em></strong></p>
    {% elsif page.category == "Resource" %}
      <p>is a general purpose <strong><em>Resource.</em></strong></p>
    {% elsif page.category == "KnowledgeGraph" %}
      <p>is a <strong><em>Knowledge Graph.</em></strong></p>
    {% elsif page.category == "DataSource" %}
      <p>is a <strong><em>Data Source.</em></strong></p>
    {% elsif page.category == "DataModel" %}
      <p>is a <strong><em>Data Model or Ontology.</em></strong></p>
    {% endif %}
  {% endif %}
  <p>{{page.description}}</p>
</div>

{% if page.is_obsolete %}
<div class="row">
  <div class="alert alert-danger" role="alert">
    This resource is deprecated!
  </div>
  {% for repl in page.replaced_by %}
  <div class="alert alert-info" role="alert">
    Consider using: <a href="{{repl}}.html">{{repl}}</a>
  </div>
  {% endfor %}
</div>
{% endif %} {% if page.activity_status == "inactive" %}{% unless
page.is_obsolete %}
<div class="row">
  <div class="alert alert-warning" role="alert">
    This resource is inactive. It may not be actively maintained.
  </div>
</div>
{% endunless %}{% endif %} {% if page.activity_status == "orphaned" %}{% unless
page.is_obsolete %}
<div class="row">
  <div class="alert alert-warning" role="alert">
    This resource is orphaned. It is no longer maintained.
  </div>
</div>
{% endunless %}{% endif %}

<div class="row">
  <div class="col-md-8" style="padding-left: 0">
    {% assign stripped_content_size = content | strip | size %}

    <div class="row">
      <div class="card bg-light mb-3" style="max-width: 10rem;">
          <div class="card-body">
            <h5 class="card-title">Domain</h5>
            <p class="card-text">{{page.domain}}</p>
          </div>
      </div>
      <div class="card bg-light mb-3" style="max-width: 10rem;">
          <div class="card-body">
            <h5 class="card-title">License</h5>
            {% if page.license %}
              <p class="card-text"><a href="{{page.license.id}}">{{page.license.label}}</a></p>
            {% else %}
              <p class="card-text" style="color: red; font-weight: bold;">Warning: No license entered</p>
            {% endif %}
            </div>
      </div>
      <div class="card bg-light mb-3" style="max-width: 10rem;">
        <div class="card-body">
          <h5 class="card-title">Infores ID</h5>
          {% if page.infored_id %}
            <p class="card-text">infores:{{page.infores_id}}</a></p>
          {% else %}
            <p class="card-text" style="font-weight: bold;">Unknown</p>
          {% endif %}
          </div>
    </div>
    </div>

    {% if page.contacts %}
    <div class="card" style="margin-bottom: 1.5em;" id="contacts">
      <div class="card-header">
        <h4>Contacts</h4>
      </div>
      <div class="list-group list-group-flush">
        {% for c in page.contacts %}
        <div class="list-group-item">
          {% if c.email %}
            <a href="mailto:{{c.email}}">{{c.label}}</a>
          {% else %}
          {% if c.label %}
            {{c.label}}
          {% endif %}
          {% endif %}
          {% if c.orcid %}
            ORCID:<a href="https://orcid.org/{{ c.orcid }}">{{ c.orcid }}</a>
          {% endif %}
          {% if c.github %}
            Github:<a href="https://github.com/{{ c.github }}">{{ c.github }}</a>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}

    {% if page.publications and page.publications.size > 0 %}
    <div class="card" style="margin-bottom: 1.5em;" id="publications">
      <div class="card-header">
        <h4>Publications</h4>
      </div>
      <div class="list-group list-group-flush">
        {% for p in page.publications %}
        <div class="list-group-item">
          {% if p.doi %}
            <a href="http://dx.doi.org/{{p.doi}}">{{p.title}}</a>
          {% else %}
            <a href="{{p.id}}">{{p.title}}</a>
          {% endif %}
          {% if p.preferred %}
          <span class="badge">Preferred</span>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}

    {% if page.funded_by %}
    <div class="card" style="margin-bottom: 1.5em;">
      <div class="card-header">
        <h4>Funding</h4>
      </div>
      <div class="list-group list-group-flush">
        {% for p in page.funded_by %}
        <div class="list-group-item">
          <a href="{{ p.id }}">{{ p.title }}</a>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}

    {% if page.products and page.products.size > 0 %}
    <div class="card" style="margin-bottom: 1.5em; width: auto;">
      <div class="card-header">
        <h4>Products</h4>
      </div>
      <table class="table table-striped mb-0" style="width: auto;">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Category</th>
            <th>KGX?</th>
            <th>Biolink?</th>
            <th>Infores ID</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          {% for p in page.products %}
          <tr>
            <td>
              <a href="{{p.url}}">{{p.id}}</a>
            </td>
            <td>{{p.name}}</td>
            <td>{{p.category}}</td>
            {% if p.is_kgx %}
            <td>
              ✅
            </td>
            {% else %}
            <td>
              ❌
            </td>
            {% endif %}
            {% if p.biolink_compatibility %}
              {% if p.biolink_compatibility.is_compatible == true %}
              <td>
                ✅
              </td>
              {% else %}
              <td>
                ❌
              </td>
              {% endif %}
            {% else %}
            <td>
              ❔
            </td>
            {% endif %}
            {% if p.infores_id %}
            <td>
              infores:{{p.infores_id}}
            </td>
            {% else %}
            <td>
                <span style="color: darkred;">unknown</span>
            </td>
            {% endif %}
            <td>
              {{p.description}}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
    <div class="alert alert-warning" role="alert">
      No products available. You could <a href="https://github.com/Knowledge-Graph-Hub/kg-registry/issues/new?template=update-resource.yml">suggest one to add!</a>
    </div>
    {% endif %}

    {% if page.usages %}
    <div class="card" style="margin-bottom: 1.5em;">
      <div class="card-header">
        <h4>Usages</h4>
      </div>
      <div class="list-group list-group-flush">
        {% for p in page.usages %}
        <div class="list-group-item">
          <dl class="dl-horizontal" style="margin-bottom: 0">
            <dt>{{p.label}}</dt>
            <dd>{{p.description}}</dd>
            {% if p.type %}
            <dt>Type</dt>
            <dd>{{p.type}}</dd>
            {% endif %} {% if p.url %}
            <dt>Link</dt>
            <dd><a href="{{p.url}}">{{p.url}}</a></dd>
            {% endif %} {% if p.publications %}
            <dt>Publications</dt>
            <dd>
              <ul style="padding-left: 20px">
                {% for publication in p.publications %}
                <li><a href="https://doi.org/{{publication.doi}}">{{publication.title}}</a></li>
                {% endfor %}
              </ul>
            </dd>
            {% endif %} {% if p.users %}
            <dt>Users</dt>
            <dd>
              <ul style="padding-left: 20px">
                {% for user in p.users %}
                <li>{{user.label}}</li>
                {% endfor %}
              </ul>
            </dd>
            {% endif %}
          </dl>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>

  <div class="col-md-4" style="width: auto;">
    <dl class="dl-horizontal" style="margin-left: 4em">

      <!-- TODO: fix this, there is a name collision
      <dt>Homepage</dt>
      <dd>
        <a href="{{page.url}}">{{page.url}}</a>
      </dd> -->

      {% if page.repository and page.repository != page.homepage %}
      <dt>Repository</dt>
      <dd>
        <a href="{{page.repository}}">{{page.repository}}</a>
      </dd>
      {% endif %}

      {% if page.infores_id %}
      <dt>Infores ID</dt>
      <dd>
        infores:{{page.infores_id}}
      </dd>
      {% endif %}

      {% if page.fairsharing_id %}
      <dt>FAIRsharing ID</dt>
      <dd>
        <a href="https://fairsharing.org/{{page.fairsharing_id}}">{{page.fairsharing_id}}</a>
      </dd>
      {% endif %}

      {% if page.repository and page.repository contains "https://github.com/" %}
      <dt>Stars</dt>
      <dd>
        <a href="{{ page.repository }}">
          <img
            alt="GitHub Repo stars"
            src="https://img.shields.io/github/stars/{{ page.repository | remove: 'https://github.com/' }}"
          />
        </a>
      </dd>
      <dt>Contributors</dt>
      <dd>
        <a href="{{ page.repository }}">
          <img
            alt="GitHub contributors"
            src="https://img.shields.io/github/contributors/{{ page.repository | remove: 'https://github.com/' }}"
          />
        </a>
      </dd>
      <dt>Last Commit</dt>
      <dd>
        <a href="{{ page.repository }}">
          <img
            alt="GitHub last commit"
            src="https://img.shields.io/github/last-commit/{{ page.repository | remove: 'https://github.com/' }}"
          />
        </a>
        <!--<img alt="GitHub issues" src="https://img.shields.io/github/issues/{{ page.repository | remove: 'https://github.com/' }}" />-->
      </dd>
      {% endif %} {% if page.review.date and page.review.document %}
      <dt>OBO Review</dt>
      <dd>
        {{page.review.date}}
        <a href="{{page.review.document.link}}"
          >{{page.review.document.label}}</a
        >
      </dd>
      <dd>{% endif %}</dd>
    </dl>

    <!-- <div>
      Generated by:
      <a href="{{site.repo_src}}_layouts/resource_detail.html"
        >_layouts/resource_detail.html</a
      ><br />
      See
      <a href="/faq/how-do-i-edit-metadata.html">metadata guide</a>
    </div> -->
  </div>
</div>
