---
layout: default
---

<div class="row">
  <h1>
    {% if page.depicted_by %}
    <img alt="logo" src="{{page.depicted_by}}" style="max-height: 1em;" />
    {% endif %} {{ page.id }}
  </h1>
  {% if page.category %}
  {% if page.category == "Aggregator" %}
  <p>is an <strong><em>Aggregator.</em></strong></p>
  {% elsif page.category == "Resource" %}
  <p>is a general purpose <strong><em>Resource.</em></strong></p>
  {% elsif page.category == "KnowledgeGraph" %}
  <p>is a <strong><em>Knowledge Graph.</em></strong></p>
  {% elsif page.category == "DataSource" %}
  <p>is a <strong><em>Data Source.</em></strong></p>
  {% elsif page.category == "DataModel" %}
  <p>is a <strong><em>Data Model or Ontology.</em></strong></p>
  {% endif %}
  {% endif %}
  <p>{{page.description}}</p>
</div>

{% if page.activity_status == "inactive" %}
<div class="row">
  <div class="alert alert-warning" style="max-width: 72rem" role="alert">
    This resource is inactive. It may not be actively maintained.
  </div>
</div>
{% endif %}
{% if page.activity_status == "orphaned" %}
<div class="row">
  <div class="alert alert-warning" style="max-width: 72rem" role="alert">
    This resource is orphaned. It is no longer maintained and its availability may vary.
  </div>
</div>
{% endif %}
{% if page.activity_status == "unresponsive" %}
<div class="row">
  <div class="alert alert-warning" style="max-width: 72rem" role="alert">
    This resource is unresponsive. It is not consistently available but we continue to provide its metadata.
  </div>
</div>
{% endif %}
<div class="col">
  <div class="row">
    <div class="row header-card-row">
      <div class="card bg-light mb-3" style="max-width: 12rem;">
        <div class="card-body">
          <h5 class="card-title">Domains</h5>
            <p class="card-text">
            {% for domain in page.domains %}
              {% assign domain_desc = site.data.schema.enums.DomainEnum.permissible_values[domain] %}
              <span title="{{ domain_desc.description }}" style="text-decoration: underline dotted; cursor: help;">{{ domain }}</span>{% unless forloop.last %}, {% endunless %}
            {% endfor %}
            </p>
        </div>
      </div>
      <div class="card bg-light mb-3" style="max-width: 12rem;">
        <div class="card-body">
          <h5 class="card-title">License</h5>
          {% if page.license %}
          <p class="card-text"><a href="{{page.license.id}}">{{page.license.label}}</a></p>
          {% else %}
          <p class="card-text" style="color: red; font-weight: bold;">Warning: No license entered</p>
          {% endif %}
        </div>
      </div>
      <div class="card bg-light mb-3" style="max-width: 12rem;">
        <div class="card-body">
          <h5 class="card-title">Homepage</h5>
          {% if page.homepage_url %}
          <p class="card-text"><a href="{{page.homepage_url}}">{{page.id}}</a></p>
          {% else %}
          <p class="card-text" style="font-weight: bold;">Unknown</p>
          {% endif %}
        </div>
      </div>
      <div class="card bg-light mb-3" style="max-width: 12rem;">
        <div class="card-body">
          <h5 class="card-title">Repository</h5>
          {% if page.repository and page.repository contains "https://github.com/" %}
          <p class="card-text"><a href="{{page.repository}}">Github</a></p>
          {% elsif page.repository %}
          <p class="card-text"><a href="{{page.repository}}">Repository</a></p>
          {% else %}
          <p class="card-text" style="font-weight: bold;">Unknown</p>
          {% endif %}
        </div>
      </div>
      <div class="card bg-light mb-3" style="max-width: 12rem;">
        <div class="card-body">
          <h5 class="card-title">Infores ID</h5>
          {% if page.infores_id %}
          <p class="card-text">infores:{{page.infores_id}}</p>
          {% else %}
          <p class="card-text" style="font-weight: bold;">Unknown</p>
          {% endif %}
        </div>
      </div>
      <div class="card bg-light mb-3" style="max-width: 12rem;">
        <div class="card-body">
          <h5 class="card-title">FAIRsharing ID</h5>
          {% if page.fairsharing_id %}
          <p class="card-text"><a href="https://fairsharing.org/{{page.fairsharing_id}}">{{page.fairsharing_id}}</a></p>
          {% else %}
          <p class="card-text" style="font-weight: bold;">Unknown</p>
          {% endif %}
        </div>
      </div>
    </div>

    {% if page.warnings %}
    {% for warning in page.warnings %}
    <div class="alert alert-warning" style="max-width: 72rem" role="alert">
      ⚠ {{warning}}
    </div>
    {% endfor %}
    {% endif %}

    {% if page.contacts %}
    <div class="card px-0" style="margin-bottom: 1.5em; max-width: 72rem" id="contacts">
      <div class="card-header">
        <h4>Contacts</h4>
      </div>
      <div class="list-group list-group-flush">
        {% for c in page.contacts %}
        <div class="list-group-item">
          {% if c.label %}
          {% assign email = null %}
          {% assign github = null %}
          {% assign other_details = null %}
          {% if c.contact_details %}
            {% assign other_details = false %}
            {% for detail in c.contact_details %}
              {% if detail.contact_type == 'email' %}
                {% assign email = detail.value %}
              {% elsif detail.contact_type == 'github' %}
                {% assign github = detail.value %}
              {% else %}
                {% assign other_details = true %}
              {% endif %}
            {% endfor %}
          {% endif %}
          
          {% if email %}
          <p><a href="mailto:{{email}}">{{c.label}}</a></p>
          {% else %}
          <p>{{c.label}}</p>
          {% endif %}
          {% endif %}
          
          {% if c.orcid %}
          <p><strong>ORCID: </strong><a href="https://orcid.org/{{ c.orcid }}">{{ c.orcid }}</a></p>
          {% endif %}
          
          {% if github %}
          <p><strong>Github: </strong><a href="https://github.com/{{ github }}">{{ github }}</a></p>
          {% endif %}
          
          {% if other_details %}
            {% for detail in c.contact_details %}
              {% if detail.contact_type != 'email' and detail.contact_type != 'github' %}
                {% if detail.contact_type_url %}
                <p><strong>{{ detail.contact_type_name }}: </strong>{{ detail.value }} (<a href="{{ detail.contact_type_url }}">site</a>)</p>
                {% else %}
                <p><strong>{{ detail.contact_type_name }}: </strong>{{ detail.value }}</p>
                {% endif %}
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}

    {% if page.publications and page.publications.size > 0 %}
    <div class="card px-0" style="margin-bottom: 1.5em; max-width: 72rem" id="publications">
      <div class="card-header">
        <h4>Publications</h4>
      </div>
      <div class="list-group list-group-flush">
        {% for p in page.publications %}
        <div class="list-group-item">
          {% if p.doi %}
          <a href="http://dx.doi.org/{{p.doi}}">{{p.title}}</a>
          {% else %}
          <a href="{{p.id}}">{{p.title}}</a>
          {% endif %}
          {% if p.preferred %}
          <span class="badge">Preferred</span>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}

    {% if page.funded_by %}
    <div class="card px-0" style="margin-bottom: 1.5em; max-width: 72rem" id="funding">
      <div class="card-header">
        <h4>Funding</h4>
      </div>
      <div class="list-group list-group-flush">
        {% for p in page.funded_by %}
        <div class="list-group-item">
          <a href="{{ p.id }}">{{ p.title }}</a>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}

    <!-- Check to see what kinds of products we have, if any -->
    {% assign has_internal_products = false %}
    {% assign has_external_products = false %}
    {% assign has_no_products = false %}
    {% if page.products %}
    {% for p in page.products %}
    {% if p.secondary_source and p.secondary_source contains page.id %}
    {% assign has_internal_products = true %}
    {% continue %}
    {% elsif p.secondary_source %}
    {% assign has_external_products = true %}
    {% continue %}
    {% else %}
    {% assign has_internal_products = true %}
    {% endif %}
    {% endfor %}
    {% else %}
    {% assign has_no_products = true %}
    {% endif %}

    <div class="card px-0" style="margin-bottom: 1.5em; max-width: 72rem" id="products">
      <div class="card-header">
        <h4>Products</h4>
      </div>
      {% if has_internal_products %}
      <h5 style="margin-left: 0.5em; margin-top: 0.5em">From this Resource</h5>
      <div class="table-responsive">
        <table class="table table-striped mb-0">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>URL</th>
              <th>Category</th>
              <th>Format</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            {% for p in page.products %}
            <tr>
              {% if p.secondary_source and p.secondary_source contains page.id %}
              <td>
                <a href="{{p.id}}.html">{{p.id}}</a>
              </td>
              {% elsif p.secondary_source %}
            </tr>
            {% continue %}
            {% else %}
            <td>
              <a href="{{p.id}}.html">{{p.id}}</a>
            </td>
            {% endif %}
            <td>
              {{p.name}}
            </td>
            <td>
              {% if p.product_url %}
              <a href="{{p.product_url}}">{{p.product_url | split: '/' | last}}</a>
              {% else %}
              ❔
              {% endif %}
            </td>
            <td>{{p.category}}</td>
            <td>
              {% if p.format %}
              <span title="{{ site.data.schema.enums.FormatEnum.permissible_values[p.format].description }}" style="text-decoration: underline dotted; cursor: help;">{{ p.format }}</span>
              {% else %}
              ❔
              {% endif %}
            </td>
            <td>
              {{ p.description | truncate: 40 }}
            </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endif %}
      {% if has_external_products %}
      <h5 style="margin-left: 0.5em; margin-top: 0.5em">From other Resources</h5>
      <div class="table-responsive">
        <table class="table table-striped mb-0">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>URL</th>
              <th>Category</th>
              <th>Format</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            {% for p in page.products %}
            <tr>
              {% if p.secondary_source and p.secondary_source contains page.id %}
            </tr>
            {% continue %}
            {% elsif p.secondary_source %}
            <td>
              <a href="/kg-registry/resource/{{p.secondary_source | first}}/{{p.id}}.html">{{p.id}}</a>
            </td>
            {% else %}
            </tr>
            {% continue %}
            {% endif %}
            <td>
              {{p.name}}
            </td>
            <td>
              {% if p.product_url %}
              <a href="{{p.product_url}}">{{p.product_url | split: '/' | last}}</a>
              {% else %}
              ❔
              {% endif %}
            </td>
            <td>{{p.category}}</td>
            <td>
              {% if p.format %}
              <span title="{{ site.data.schema.enums.FormatEnum.permissible_values[p.format].description }}" style="text-decoration: underline dotted; cursor: help;">{{ p.format }}</span>
              {% else %}
              ❔
              {% endif %}
            </td>
            <td>
              {{ p.description | truncate: 40 }}
            </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endif %}
      {% if has_no_products %}
      <div class="alert alert-warning" role="alert">
        No products available. You could <a
          href="https://github.com/Knowledge-Graph-Hub/kg-registry/issues/new?template=update-resource.yml">suggest one
          to add!</a>
      </div>
      {% endif %}
    </div>

    {% if page.usages %}
    <div class="card px-0" style="margin-bottom: 1.5em; max-width: 72rem">
      <div class="card-header">
        <h4>Usages</h4>
      </div>
      <div class="list-group list-group-flush">
        {% for p in page.usages %}
        <div class="list-group-item">
          <dl class="dl-horizontal" style="margin-bottom: 0">
            <dt>{{p.label}}</dt>
            <dd>{{p.description}}</dd>
            {% if p.type %}
            <dt>Type</dt>
            <dd>{{p.type}}</dd>
            {% endif %} {% if p.url %}
            <dt>Link</dt>
            <dd><a href="{{p.url}}">{{p.url}}</a></dd>
            {% endif %} {% if p.publications %}
            <dt>Publications</dt>
            <dd>
              <ul style="padding-left: 20px">
                {% for publication in p.publications %}
                <li><a href="https://doi.org/{{publication.doi}}">{{publication.title}}</a></li>
                {% endfor %}
              </ul>
            </dd>
            {% endif %} {% if p.users %}
            <dt>Users</dt>
            <dd>
              <ul style="padding-left: 20px">
                {% for user in p.users %}
                <li>{{user.label}}</li>
                {% endfor %}
              </ul>
            </dd>
            {% endif %}
          </dl>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <h4>
      Is this information incorrect or incomplete? <a
        href="https://github.com/Knowledge-Graph-Hub/kg-registry/issues/new?template=update-resource.yml">Request an
        update.</a>
    </h4>
  </div>

</div>