---
category: Product
description: Antibody validation reports for multiplex imaging assays
id: hubmap.antibody_validation_reports
name: Antibody Validation Reports
product_url: https://avr.hubmapconsortium.org/
warnings:
- File was not able to be retrieved when checked on 2025-10-10_ HTTP 401 error when
  accessing file
- File was not able to be retrieved when checked on 2025-10-09_ HTTP 401 error when
  accessing file
layout: product_detail
---
