---
category: Product
description: Antibody validation reports for multiplex imaging assays
format: http
id: hubmap.antibody_validation_reports
name: Antibody Validation Reports
original_source:
- relation_type: prov:hadPrimarySource
  source: hubmap
product_url: https://avr.xconsortia.org/
warnings:
- Antibody Validation Reports require authorization and returned HTTP 401 when checked
  on 2026-06-02.
- File was not able to be retrieved when checked on 2026-06-02_ HTTP 401 error when
  accessing file
layout: product_detail
---
