---
category: Product
description: Antibody validation reports for multiplex imaging assays
id: hubmap.antibody_validation_reports
name: Antibody Validation Reports
product_url: https://avr.hubmapconsortium.org/
warnings:
  - File was not able to be retrieved when checked on 2026-05-04_ HTTP 401 error when accessing file
  - File was not able to be retrieved when checked on 2026-03-30_ HTTP 401 error when accessing file
layout: product_detail
original_source:
  - source: hubmap
    relation_type: prov:hadPrimarySource
---
