---
category: Product
description: Antibody validation reports for multiplex imaging assays
id: hubmap.antibody_validation_reports
name: Antibody Validation Reports
original_source:
- relation_type: prov:hadPrimarySource
  source: hubmap
product_url: https://avr.hubmapconsortium.org/
warnings:
- File was not able to be retrieved when checked on 2026-05-09_ HTTP 401 error when
  accessing file
- File was not able to be retrieved when checked on 2026-03-30_ HTTP 401 error when
  accessing file
layout: product_detail
---
